.top-table img { 
    width: 100px;
    height: 100px;
    border-radius: 20px;
    /* display: block; */
    text-align: center;
}

.top-table tr {
    font-size: 30px;
    background-color: black;
    color: white;
}
.top-table tr:hover {
    opacity: .7;
}

.top-table td {
    
    text-align: center;
    border: 5px solid white;
    padding: 5px 10px;
}
/* width: 33%; */

.top-table td:hover {
    background-color: gray;
}
    